{
  "openapi": "3.1.0",
  "info": {
    "title": "PokeAPI FULL",
    "version": "2.0.0",
    "description": "Generated full OpenAPI-like spec for PokeAPI"
  },
  "servers": [
    {
      "url": "https://pokeapi.co/api/v2"
    }
  ],
  "paths": {
    "/pokemon": {
      "get": {
        "summary": "List pokemon",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/pokemon/{id}": {
      "get": {
        "summary": "Get pokemon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/pokemon-species": {
      "get": {
        "summary": "List pokemon-species",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/pokemon-species/{id}": {
      "get": {
        "summary": "Get pokemon-species",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ability": {
      "get": {
        "summary": "List ability",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ability/{id}": {
      "get": {
        "summary": "Get ability",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/type": {
      "get": {
        "summary": "List type",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/type/{id}": {
      "get": {
        "summary": "Get type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/move": {
      "get": {
        "summary": "List move",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/move/{id}": {
      "get": {
        "summary": "Get move",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/item": {
      "get": {
        "summary": "List item",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/item/{id}": {
      "get": {
        "summary": "Get item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/berry": {
      "get": {
        "summary": "List berry",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/berry/{id}": {
      "get": {
        "summary": "Get berry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location": {
      "get": {
        "summary": "List location",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location/{id}": {
      "get": {
        "summary": "Get location",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/evolution-chain": {
      "get": {
        "summary": "List evolution-chain",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/evolution-chain/{id}": {
      "get": {
        "summary": "Get evolution-chain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/generation": {
      "get": {
        "summary": "List generation",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/generation/{id}": {
      "get": {
        "summary": "Get generation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/version": {
      "get": {
        "summary": "List version",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/version/{id}": {
      "get": {
        "summary": "Get version",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/move-category": {
      "get": {
        "summary": "List move-category",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/move-category/{id}": {
      "get": {
        "summary": "Get move-category",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/item-category": {
      "get": {
        "summary": "List item-category",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/item-category/{id}": {
      "get": {
        "summary": "Get item-category",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location-area": {
      "get": {
        "summary": "List location-area",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location-area/{id}": {
      "get": {
        "summary": "Get location-area",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/berry-flavor": {
      "get": {
        "summary": "List berry-flavor",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/berry-flavor/{id}": {
      "get": {
        "summary": "Get berry-flavor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}